<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" src="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue Js</title>


</head>
<body>
    <div id="app">
        <p>Ingrese su nombre:<input type="text" v-model="nombre"></p>
        <p>Ingrese su apellido:<input type="text" v-model="apellido"></p>
        <p>Nombre Completo: {{nombreCompleto}}</p>
    </div>
    <script>
        const app = new Vue ({
            el: '#app',
            data:{ 
                nombre: '',
                apellido: ''
            },
            methods: {
            },
            computed: {
                nombreCompleto: function () {
                    return this.nombre + ' ' + this.apellido;
                }
            }
        })
    </script>
</body>
</html>